html{
	/*background: url("images/background.jpg");
	background-repeat: repeat;
	background-position: center top;*/
	background-color: #222222;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #AAAAAA;
}
html{
  font-family: cursive;
}
